// #__next {
//   display: grid;
//   overflow-y: scroll;
//   grid-auto-rows: max-content;
// }
#hiddens {
  section {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
  }
  input::before {
    content: "a";
  }
  input::after {
    content: "b";
  }  
}
