.target {
  &::before {
    content: "- ";
  }
  &::after {
    content: attr(title);
  }
}

input {
  display: flex;
  &::before {
    white-space: pre;
    content: "    ";
  }
  &::after {
    content: "Try" 
  }
  &.display-none:not(:checked) ~ * .target {
    display: none;
  } 
} 

/* input:not(:checked) ~ .mountOnDemand.wh0 {
  overflow: hidden;
  width: 0;
  height: 0;
}
input:not(:checked) ~ .mountOnDemand.cp {
  clip-path: polygon(0% 0%, 0% 0%);
} */
