input:not(:checked) ~ * {
  display: none;
}

/* input:not(:checked) ~ .mountOnDemand.wh0 {
  overflow: hidden;
  width: 0;
  height: 0;
}
input:not(:checked) ~ .mountOnDemand.cp {
  clip-path: polygon(0% 0%, 0% 0%);
} */
